build
dist
MANIFEST
__pycache__
*.pyc
.coverage
.cache
lib/pyfrc.egg-info
lib/pyfrc/version.py

lib/pyfrc/robotpy/win32/plink.exe
lib/pyfrc/robotpy/win32/psftp.exe

.settings
docs/_build

.deploy_cfg

.DS_Store
.pydevproject
.project

