include README.md
include requirements.txt
graft samples
prune samples/iterative/src/__pycache__
prune samples/iterative/tests/__pycache__
prune samples/simple/src/__pycache__
prune samples/simple/tests/__pycache__
