pytest>=2.8.0
pynetconsole>=2.0.1

wpilib>=2018.0.14,<2019.0.0
robotpy-hal-sim>=2018.0.14,<2019.0.0

robotpy-installer>=2018.0.1,<2019.0.0

# Not really a requirement, but this is on the robot, so just install by default
robotpy-wpilib-utilities>=2018.0.0,<2019.0.0

# coverage isn't in here because it requires an installed compiler, which
# many students may not have installed
