pytest>=2.8.0
wpilib>=2016.2.0,<2017.0.0
robotpy-hal-sim>=2016.2.0,<2017.0.0
pynetconsole>=1.3.1

# Not really a requirement, but this is on the robot, so just install by default
robotpy-wpilib-utilities>=2016.3.3,<2017.0.0

# coverage isn't in here because it requires an installed compiler, which
# many students may not have installed