---
name: dist

on:
  pull_request:
  push:
    branches:
    - main
    tags:
    - '*'

jobs:
  ci:
    uses: robotpy/build-actions/.github/workflows/package-pure.yml@v2023
    with:
      enable_sphinx_check: false
    secrets:
      META_REPO_ACCESS_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      PYPI_API_TOKEN: ${{ secrets.PYPI_PASSWORD }}
